body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  

#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  /* #hero .container {
    padding-top: 10px;
  } */
  
  #hero h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 72px;
    color: red;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h2 {
    color: #f10d0d;
    margin: 10px 0 10px 0;
    font-size: 22px;
  }

  /* .hide{
      display: none;
  }
  .title:hover + .hide{
      display: inline;
      color: red;
  } */

  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f8fbfe;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #124265;
  }
  
  .section-title p {
    margin-bottom: 0;
    font-size: 18px;
    color: #919191;
  }

  /* @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-height: 800px) {
    #hero {
      height: auto;
    }
  }
  
  @media (max-width: 992px) {
    #hero {
      height: auto;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  } */